# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.env
.env.*
secrets.yaml
*-secret.yaml

# Local dev
.DS_Store
*.log
